[{
		"prov": {
			"type": "ParrallelWire",
			"uuid": "db09b2f1-2aec-4b2b-aa89-375537ac9a2f",
			"outC": [{
					"type": "LED",
					"resistance": 5,
					"ui": {
						"y": 240,
						"x": 880
					},
					"outC": {
						"type": "Wire",
						"connectedWire": {
							"type": "Resistor",
							"resistance": 0,
							"outC": {
								"type": "ParrallelWire",
								"uuid": "584d9799-6e79-4aaf-891c-afcb8f62981f",
								"outC": ["BatteryRef"]
							},
							"ui": {
								"y": 350,
								"x": 890
							},
							"uuid": "a653ab8e-fac1-4688-94bf-4fd742cc0587"
						}
					},
					"uuid": "77a6fb1d-4c0a-46a0-b286-0ed8df9b3d51"
				}, {
					"type": "LED",
					"resistance": 5,
					"ui": {
						"y": 270,
						"x": 770
					},
					"outC": {
						"type": "Wire",
						"connectedWire": {
							"type": "Resistor",
							"resistance": 10,
							"outC": {
								"type": "ParrallelWire",
								"uuid": "584d9799-6e79-4aaf-891c-afcb8f62981f",
								"outC": ["BatteryRef"]
							},
							"ui": {
								"y": 330,
								"x": 820
							},
							"uuid": "18c2f814-db8a-4cab-a799-1fd3b62771f3"
						}
					},
					"uuid": "9fc8f2e8-2274-4b31-8775-eb421395cdd7"
				}
			]
		},
		"voltage": 5,
		"ui": {
			"y": 300,
			"x": 570
		},
		"enabled": false,
		"charge": 0.0009999999999999998,
		"maxAmpere": 20
	}
]
